<div id="theme-settings" class="settings-panel" style="top: 55px !important">
    <div class="settings-heading" style="border-bottom: 1px solid #dee2e6;">
        Admin
        <i class="settings-close fas fa-times" data-ev="EV_CloseSubMenu"></i>
        <i class="fas fa-ellipsis-v menu-icon mx-4 settings-close d-none" id="dictEllipsisDropdown" data-bs-toggle="dropdown" aria-expanded="true" data-ev="EV_Show_EllipsisMenu"></i>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" id="dictEllipsisMenu" aria-labelledby="dictEllipsisDropdown">

        </div>
    </div>
    <ul class="list-unstyled" id="subMenuList" style="cursor:pointer">
        <li class="m-2 custom-dist-codes" value="Manage User Group" data-ev="EV_ManageUserGroup" style="display: none;" id="lm_ManageGroupRole">Manage Group & Role</li>
        <li class="m-2 custom-dist-codes" value="Manage User" data-ev="EV_ManageUser" style="display: none;" id="lm_ManageUser">Manage User</li>
    </ul>
</div>