/* ------------------------ QC grid ---------------------------------------------------------------*/

.in-grid {
	font-size: .85rem;
}

.in-grid-table {
	table-layout: fixed;
	border-top: 1px solid #E5E5E5;
	background-color: #ffffff !important;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 0;
	border-width: 0;
}


	.in-grid-table.table thead th {
		top: 0;
		position: sticky;
		z-index: 102;
		background: repeat-x #f2f2f2;
		border-top: 1px solid #ccc; 
	}

	.in-grid-table > thead > tr {
		background: repeat-x #f2f2f2;
		border-top: 1px solid #ccc; 
	}

	.in-grid-table.table th, .in-grid-table.table td {
		padding: 0.6rem;
		overflow: hidden;
	}

	.in-grid-table .tr-select {
		background-color: #edf3f4 !important;
	}

.in-grid-pgbtn-xs {
	padding: 0.1rem 0.5rem;
	margin: 0 .1rem;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.1rem;
}

	.in-grid-pgbtn-xs:hover {
		color: #0056b3 !important;
		text-decoration: none !important;
		background-color: #ccc;
	}
